#box{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(82, 157, 237);
  color:white;
  border-top: 3px solid rgb(0, 123, 255);
  border-right: 3px solid rgb(0, 123, 255); 
  height:60px;
  transition: background-color 0.25s,color 0.25s ,border-top 0.25s, border-right 0.25s;
}
#box:hover{
  background-color: whitesmoke !important;
  color:rgb(4, 44, 87) !important;
  border-top: 3px solid rgb(4, 44, 87) !important;
  border-right: 3px solid rgb(4, 44, 87) !important; 
  cursor: pointer !important;
}
#about .card{
  height:300px;
}
#about .card .card-header{
  display: flex;
  align-items: center;
  height:100px;
  background-color:rgb(82, 157, 237);
  color:white;
  font-weight: 800;
}
#about .card .card-header:hover{
  background-color:rgb(4, 44, 87) !important;
  color:white;
  transition:background-color 0.25s,color 0.25s
}
#about .card .card-body{
  color:rgb(82, 157, 237);
  font-size: 18px;
  transition:background-color 0.25s,color 0.25s;
}
#about .card .card-body:hover{
  background-color:rgb(82, 157, 237); 
  color:white;
}
.button-cont{
  margin-top: 250px;
  margin-bottom: 250px;
}
